/*
 Theme Name:   Travelers Blog Child
 Theme URI: https://holidaysthemes.com/downloads/travelers-blog-lite/
 Description:  Travelers Blog Child Theme
 Template:     travelers-blog
*/

a {
	color: #e63a3e;
    font-weight: 500;
}

a:focus {
    outline: none;
}

.tag.post-tag, .post-tags a.tag {
	color: #fff;
    background: #d63438 !important;
    border: 1px solid #d63438;
}

.tag.post-tag:hover, .post-tags a.tag:hover {
	color: #fff;
    background: #333 !important;
    border: 1px solid #333;
}

.search-form input#searchsubmit {
	padding: 10px;
	letter-spacing: 0;
    font-family: inherit!important;
}


.list_image_wrapper .list-image a {
	background-repeat: no-repeat;
	background-size: contain;
}

.list_image_wrapper {
     height: auto;
}

.list-item:hover img {
    transform: none;
}

.post-views {
	display: inline-block;
	color: #333;
}

.post-views.entry-meta > span {
	font-size: 13px;
}

.post-views.entry-meta > span.post-views-icon.dashicons {
	font-size: 15px;
    line-height: 20px;
}

.cover-content .author-detail .post-views.entry-meta > span {
	font-size: 15px;
}

.cover-content .author-detail .post-views.entry-meta > span.post-views-icon.dashicons {
	font-size: 17px;
    line-height: 18px;
}

.result-paging-wrapper .pagination .screen-reader-text {
	display: none;
}

.result-paging-wrapper .pagination .nav-links {
	padding: 15px 0 15px;
}

.item-detail p:first-child img:first-child {
    width: 100%;
}

.item-detail ul {
	list-style: inherit;
    padding-left: 20px;
}

.item-detail ul li {
	margin-bottom: 5px;
}

.comments-area textarea {
	height: 125px;
}

.read-link {
	background-color: #fbf1f1;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 600;
}

.read-link a {
	font-weight: 400;
    color: #3f51b5;
    margin-left: 10px;
}

@media only screen and (max-width: 639px) {
	.list-image {
	    height: auto;
	}
}