.link-theme {
    color: #a52124;
}

.home-overview-2 .part-text h3 {

	font-size: 30px;

	line-height: 40px;

	font-weight: 700;

}



.home-overview-2 .part-text p {

	font-weight: 400;

	font-size: 16px;

    line-height: 25px;

}



.breadcrumb-murtes.breadcrumb-about {

	background: url("../img/bg-banner-about.jpg") center center no-repeat;

}



.about-details .part-text ul {

	color: #425977;

	font-weight: 400;

	line-height: 35px;

}



.about-details .part-text ul li i {

	color: #a52124;

	margin-right: 10px;

}



.part-text h3 {

    font-size: 30px;

    font-weight: 800;

    color: #222;

}



.part-text h4 {

    font-size: 18px;

    /* font-weight: 600; */

    text-transform: uppercase;

}



h2 .special, h3 .special {

	color: #a52124;

}



.choosing-reason-about-page .single-reason h2 {

    color: #b9585b;

    font-size: 40px;

}



.choosing-reason-about-page .single-reason h2 i {

    color: #a52124;

}



.who-we-are {

    padding: 75px 0;

    background: #90191c;

    color: #eee;

    background: -webkit-linear-gradient(21deg, #d63438 0%, #90191c 100%);



}



.who-we-are h2 {

	font-size: 50px;

    font-weight: 800;

    color: #fff;

}



.who-we-are h5 {

	font-size: 15px;

}



.breadcrumb-murtes.breadcrumb-team {

	background: url("../img/bg-banner-team.jpg") top center no-repeat;

}



.breadcrumb-murtes.breadcrumb-partner {

	background: url("../img/bg-banner-partner.jpg") top center no-repeat;

}



.partner-page-about {

	padding: 75px 0 0px 0;

}



.partner-page-about .part-text h2 {

    font-size: 42px;

    font-weight: 800;

    color: #222;

    line-height: 52px;

    margin-bottom: 22px;

    margin-top: -8px;

}



.partner-page-about .part-text p {

    font-size: 16px;

    line-height: 28px;

    color: #72839a;

    font-weight: 500;

}



.choosing-reason-about-page.choosing-partner .single-reason p {

	min-height: 170px;

}



.breadcrumb-murtes.breadcrumb-services {

    background: url("../img/bg-banner-services.jpg") left bottom no-repeat;

}



.breadcrumb-murtes.breadcrumb-services:after {

    opacity: .8;

}



.breadcrumb-murtes.breadcrumb-ecommerce {

    background: url("../img/services/bg-banner-ecommerce.jpg") left bottom no-repeat;

    background-size: 100%;

}



.breadcrumb-murtes.breadcrumb-android {

    background: url("../img/services/bg-banner-android.jpg") right center no-repeat;

    background-size: 100%;

}


.breadcrumb-murtes.breadcrumb-mobile-app {

    background: url("../img/services/mobile-app-development-company.png") right center no-repeat;

    background-size: 100%;

}


.breadcrumb-murtes.breadcrumb-ios {

    background: url("../img/services/bg-banner-ios.jpg") right center no-repeat;

    background-size: 100%;

}



.breadcrumb-murtes.breadcrumb-custom {

    background: url("../img/services/bg-banner-custom.jpg") right center no-repeat;

    background-size: 100%;

}



.breadcrumb-murtes.breadcrumb-cross-platform {

    background: url("../img/services/bg-banner-cross.jpg") right center no-repeat;

    background-size: 100%;

}



.breadcrumb-murtes.breadcrumb-magento {

    background: url("../img/services/bg-banner-magento.jpg") right bottom no-repeat;

    background-size: 100%;

}



.breadcrumb-murtes.breadcrumb-corporate {

    background: url("../img/services/bg-banner-corporate.jpg") right bottom no-repeat;

    background-size: 100%;

}



.breadcrumb-murtes.breadcrumb-cms {

    background: url("../img/services/bg-banner-cms.jpg") right center no-repeat;

    background-size: 100%;

}



.breadcrumb-murtes.breadcrumb-digital-marketing {

    background: url("../img/services/bg-banner-digital.jpg") right top no-repeat;

    background-size: 100%;

}



.breadcrumb-murtes.breadcrumb-seo {

    background: url("../img/services/bg-banner-seo.jpg") right bottom no-repeat;

    background-size: 100%;

}



.breadcrumb-murtes.breadcrumb-social-media {

    background: url("../img/services/bg-banner-social.jpg") right bottom no-repeat;

    background-size: 100%;

}



.choosing-reason-about-page.choosing-service .single-reason p {

    min-height: 115px;

}



.choosing-reason-about-page.choosing-service h2 {

    font-size: 40px;

    font-weight: 700;

    color: #222;

}



.section-bg-blue {

    background: url(../img/testi-bg.png) center center no-repeat;

    background-size: cover;

    background-color: #f5fbfe;

}



.part-img.part-service-img img {

    -webkit-box-shadow: 0 20px 40px rgba(0,0,0,.2);

    box-shadow: 0 20px 40px rgba(0,0,0,.2);

    max-width: 500px;
    width: 100%;

    float: right;

}



.custom-app-about {

    padding: 75px 0;

}



.choosing-reason-about-page.choosing-custom-app {

    padding: 75px 0;

}



.breadcrumb-murtes.breadcrumb-products {

    background: url("../img/bg-products.jpg") top left no-repeat;

}







.breadcrumb-murtes.breadcrumb-products:after {

    background: -webkit-linear-gradient(21deg, #222 0%, rgba(0, 0, 0, 0.6) 100%);

    opacity: .7;

}



.breadcrumb-murtes img {

    position: absolute;

    right: 5%;

    top: 5%;

    height: 90%;

}



.product-page-about {

    padding: 75px 0 25px 0;

}



.product-page-about h2 {

    border-right: 5px solid #a52124;

}



.case.case-product {

    padding: 75px 0;



}



.case .product-details h5 {

    font-size: 25px;

}



.case .case-slider .single-case-slider {

    border-radius: 0;

}







.case .case-slider.tablet-pos-slider .single-case-slider img {

    max-width: 400px;

    margin: 0 auto 50px auto;

    width: auto;

}



.case .case-slider.product-slider .single-case-slider img {

    

    max-height : 420px;

    margin: 0 auto 50px auto;

    width: auto;

}



.about-details.portfolio-details .part-img img {

    max-height: 400px;

}

.about-details.portfolio-details h5 {
    font-weight: 700;
    font-size: 18px;
    color: #333;
}

.breadcrumb-murtes.breadcrumb-portfolio {

    background: url("../img/bg-banner-portfolio.jpg") center left no-repeat;

}



.breadcrumb-murtes.breadcrumb-technologies {

    background: url("../img/bg-banner-technologies.jpg") top center no-repeat;

}



.technologies {

    padding: 75px 0;

}



.technologies .single-technology {

    padding: 15px 0;

}



.technologies .single-technology img {

    width: 100%;

    -webkit-box-shadow: 0 10px 20px rgba(0,0,0,.1);

    box-shadow: 0 10px 20px rgba(0,0,0,.1);

    max-width: 200px;

    margin: 0 auto;

}



.breadcrumb-murtes.breadcrumb-contact {

    background: url("../img/bg-banner-contact.jpg") top left no-repeat;

    background-size: 100%;

}



.breadcrumb-murtes.breadcrumb-contact:after {

    opacity: .8;

} 



.contact .contact-address .single-address {

    justify-content: flex-start;

}



.contact .contact-address .single-address .part-icon {

    min-width: 130px;

}



.contact .contact-address .single-address .part-text p {

    font-size: 18px;

    line-height: 30px;

    font-weight: 400;



}



.breadcrumb-murtes.breadcrumb-careers {

    background: url("../img/bg-banner-careers.jpg") top right no-repeat;

    background-size: 100%;

}



.accordion-careers .card-header {

    background: #f4f9ff;

}



.accordion-careers .card-header .btn-link {

    color: #a52124;

    font-weight: 700;

}



.accordion-careers .card-header .btn-link:hover {

    color: #222;

    text-decoration: none;

}



.accordion-careers .card-header .btn-link.focus, .accordion-careers .card-header .btn-link:focus {

    color: #a52124;

    text-decoration: none;

}



.accordion-careers .card-body ul {

    color: #72839a;

    font-weight: 500;

    line-height: 35px;

    padding-left: 15px;

}



.accordion-careers .card-body ul li i {

    color: #a52124;

    margin-right: 10px;

}



.accordion-careers .card-body p {

    color: #72839a;

    font-weight: 500;

    line-height: 35px;

    margin-bottom: 0;

}



.accordion-careers .card-body p .reqmt-title {

    color: #222;

    font-weight: 600;    

}



.careers .career-form {

    background: #f4f9ff;

    border: 1px solid #e9f1fc;

    border-radius: 10px;

    padding: 40px 30px;

    position: relative;

    z-index: 2;

    -webkit-box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.15);

    box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.15); 

}



.careers .career-form span.subtitle {

    display: block;

    font-size: 14px;

    font-weight: 800;

    color: #a52124;

    margin-bottom: 5px;

    text-align: center; 

}



.careers .career-form h4 {

    font-size: 25px;

    line-height: 30px;

    font-weight: 800;

    color: #222;

    margin-bottom: 20px;

    text-align: center; 

}



.careers .career-form form input, .careers .career-form form select {

    height: 40px;

    width: 100%;

    padding: 5px 10px;

    background: #f8fbff;

    border: 1px solid #d0def1;

    border-radius: 6px;

    margin-bottom: 10px;

    font-weight: 500;
    font-size: 14px;

    color: #425977;

    -webkit-transition: all 0.3s ease-in;

    -moz-transition: all 0.3s ease-in;

    -o-transition: all 0.3s ease-in;

    transition: all 0.3s ease-in; 

}



.careers .career-form form input:focus, .careers .career-form form select:focus {

    border-color: #a52124; 

}

.careers .career-form label {
    font-size: 14px;
    color: #425977;
}



.careers .career-form form textarea {

    height: 175px;

    width: 100%;

    padding: 5px 10px;

    background: #f8fbff;

    border: 1px solid #d0def1;

    border-radius: 6px;

    margin-bottom: 10px;

    font-weight: 500;
    font-size: 14px;

    color: #425977;

    -webkit-transition: all 0.3s ease-in;

    -moz-transition: all 0.3s ease-in;

    -o-transition: all 0.3s ease-in;

    transition: all 0.3s ease-in;

    display: -ms-grid;

    display: grid;

    margin-bottom: 40px; 

}



.careers .career-form form textarea:focus {

    border-color: #0064eb;

}



.thank-you {

    padding: 75px 0;

}



.thank-you h3 {

    font-size: 60px;    

    color: #d33337;

}



.thank-you h2 {

    font-size: 30px;

    font-weight: 600;

    

}



.section-bg-black {

    background: url(../img/testi-bg.png) center center no-repeat;

    background-size: cover;

    background-color: #222;

    color: #fff;

}

.footer-bottom {
    padding: 20px 0;
    background-color: #eee;
}

.footer .links-widget ul li {
    margin-bottom: 15px;
    color: #bdbdbd;
}

.footer .links-widget ul li a {
    line-height: 18px;
    color: #bdbdbd;
}
.footer .links-widget ul li i {
    color: #bdbdbd;
    margin-right: 5px;
}

.badges {
    display: inline-flex;
}

.badges li {
    float: left;
    margin-right: 5px;
}

.badges li img {
    /*max-width: 120px;*/
}

.whatsapp {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 9;
}

.whatsapp img {
    max-width: 100px;
    transition: all .2s;
}
.whatsapp a {
    
}

.whatsapp a:hover img {
    transform: scale(1.25, 1.25);
}

.preloader img {
    width: 200px;
    height: auto;
}

.about-2 {
    padding: 75px 0 100px 0;
}

.about-2 .abou-content .part-text p {
    color: #72839a;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
}

.banner-2 .banner-content {
    padding: 50px 0;
}

.banner-2 .banner-content h1 span.special {
    color: #cf1b28;
}

.about .part-text p, 
.testimonial .single-testimonial .part-body p,
.about-page-about .part-text p,
.about-details .part-text p,
.choosing-reason-about-page .single-reason p,
.partner-page-about .part-text p {
    font-weight: 400;
}

.overview .part-text p, 
.about-2 .abou-content .part-text p, 
.section-title-2 p,
.banner-2 .banner-content p,
.choosing-reason-2 .single-reason .part-body p,
.service .single-servcie .service-content,
.about .part-text p,
.testimonial .single-testimonial .part-body p,
.about-page-about .part-text p,
.about-details .part-text p,
.choosing-reason-about-page .single-reason p,
.partner-page-about .part-text p {
    color: #425977;
}

.portfolio-action {
    margin-top: 30px;
}

.header-2 .bottombar .header-buttons {
    width: auto;
}

.mainmenu .navbar-brand img {
    max-width: 180px;
    width: 100%;
}

a.pflo-btn {
    position: relative;
}

a.pflo-btn.collapsed:before {
    position: absolute;
    content: '...';
    top: -50px;
    font-size: 35px;
    color: #666;
}

.bg-red {
    background-color: #9e1e22;
    color: #fff;
    padding: 50px 25px;
}

.bg-red .part-text p {
    color: #fff;
    font-weight: 300;
}

.bg-red .part-text h3,
.bg-red .part-text h4,
.bg-red .part-text h5 {
    color: #fff;
}

.bg-red .part-text a {
    display: inline-block;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    margin-top: 15px;
    -webkit-transition: all .3s ease-in;
    -moz-transition: all .3s ease-in;
    -o-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

.bg-red .part-text a:hover {

}

.app-intro {
    
}

.shadow-block {
    -webkit-box-shadow: 0 1.5rem 2rem rgb(0 0 0 / 8%);
    box-shadow: 0 1.5rem 2rem rgb(0 0 0 / 8%);
    padding: 40px 0;
}

.app-industries {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 25px;
}

.app-industries span {
    font-weight: 700;
}

.app-features {

}

.app-features h3 {
    font-size: 30px;
    font-weight: 800;
    color: #222;
    margin-bottom: 20px;
}

.app-features h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.app-features ul {
    padding-left: 20px;
    margin-bottom: 30px;
}

.app-features ul li {
    margin-bottom: 15px;
}

.app-features ul li:before {
    content: '\f058';
    font-family: 'Font Awesome 5 Free';
    font-size: 14px;
    font-weight: 900;
    color: #cf1b28;
    margin-right: 10px;   
}

.app-demo {
    padding-bottom: 50px;
    padding-top: 50px;
}

.app-demo h3 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0;
    
}

.app-demo h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #cf1b28;
}

.app-credentials p {
    font-size: 14px;
    font-weight: 600;
}

.app-credentials p span {
    font-weight: 400;
    margin-left: 10px;
}

.app-demo-single {
    border-right: 1px solid #cf1b28;
    margin-bottom: 30px;
}

.app-demo > div:last-child  .app-demo-single {
    border-right: none;
}

.app-demo-imgs {
    margin-bottom: 50px;
}

.app-demo-imgs img{
    box-shadow: 0px 0px 5px rgb(0 0 0 / 12%);
}

.btn-google-play img {
    max-width: 130px;
}

.btn-website {
    background: -webkit-linear-gradient(21deg, #90191c 0, #d63438 100%);
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
    color: #fff;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    overflow: hidden;
}

.btn-website:hover, .btn-website:focus, .btn-website:active {
    color: #fff;
}

.border-block {
    width: 100%;
    clear: both;
}

.border-block .dark {
    width: 35%;
    background-color: #ae2428;
    height: 5px;
    float: left;
}

.border-block .light {
    width: 65%;
    background-color: #ccc;
    height: 5px;
    float: left;
}

.testimonial .single-testimonial {
    padding: 60px 30px;
}


@media only screen and (min-width: 1200px) and (max-width: 1781px) {

    .header-2 .bottombar .mainmenu .navbar .navbar-nav .nav-item .nav-link {
        margin: 0 15px;
    }
}

@media screen and (max-width: 991px) {

    .product-page-about h2 {

        border-right: none;

    }

    .whatsapp {
        bottom: 20px;
        left: 15px;
    }

    .whatsapp img {
        max-width: 50px;
    }

}



@media only screen and (max-width: 991px) and (min-width: 768px) {

    .case .case-slider {

        display: block;

    }

}



@media only screen and (max-width: 767px) {

    .breadcrumb-murtes img {

        display: none;

    }



}



@media only screen and (max-width: 767px) and (min-width: 576px) {

    .case .case-slider {

        display: block;

    }

}



@media only screen and (max-width: 575px) {

    .case-slider.product-slider .single-case-slider img {

        margin-bottom: 50px;

        max-width: none;

        width: auto;

        max-height: 350px;

    }

    .banner-2 .banner-content h1 {
        font-size: 40px;
        line-height: 48px;
    }

}



@media only screen and (max-width: 575px) and (min-width: 320px) {

    .case .case-slider {

        display: block; 

    }

}



@media  only screen and (max-width: 350px) {
    

}